{% extends 'base.html.twig' %}
{% block title %}
Les produits
{% endblock %}
{% block body %}

	<div class="jumbotron">
                <div class="row">
                   {% for product in products %}

                   {#
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/images/{{ product.filename }}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{ product.price }}</h5>
                              <p class="card-text">{{ product.title }}</p>
                              <a href="{{ path('products_commander',{'id':product.id}) }}" class="btn btn-primary">Commander</a>
                            </div>
                          </div>
                    </div>

                    #}

                    <div class="col-md-4">
                        <div class="row">

                            <div class="col-md-6 my-4">
                                <img class="card-img-top" src="/images/{{ product.filename }}" alt="Card image cap">
                            </div>
                            <div class="col-md-6">
                                <h4>{{ product.title }}</h4>
                                <div class="rating">
                                    {% for item in range(0,4) %}
                                     <img width="16" src="{{ asset('images/vote.png') }}">
                                    {% endfor %}

                                    <p>Prix : {{ product.price }} €</p>
                                </div>
                                <hr style="border-top:2px solid white">
                                <a href="{{ path('products_commander',{'id':product.id}) }}" class="btn btn-primary">Commander</a>
                            </div>

                            

                            
                        </div>
                    </div>


                    {% endfor %}
                </div>
        
    </div>
{% endblock %}